<!-- page content -->
<div class="right_col" role="main">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="dashboard_graph">

                <div class="row x_title">
                    <div class="col-md-6">
                        <h3>Expected Drilling Depth vs. Actual drilling Depth</h3>
                    </div>
                </div>

                <div class="col-md-9 col-sm-9 col-xs-12">
                    <!--<div ng-repeat="pileDrillingMachine in pileDrillingMachines">-->
                    <canvas style="max-height: 400px;" ng-if="pileDrillingsByMachine.drillings.length" id="bar" class="chart chart-bar" chart-data="data" chart-options="barOptions" chart-labels="labels" width="600" height="300">
                        chart-series="series"
                    </canvas>
                    <!--</div>-->
                    <div class="col-md-8">
                        <select class="input-sm" ng-model="drillingMachine" ng-options="m as m for m in machines" ng-change="getMachineForGraph()">
                            <option label="Select Drilling Machine.."></option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 bg-white">
                    <div class="x_title">
                        <h2>Meter per hour</h2>

                        <div class="clearfix"></div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-6">
                        <canvas id="doughnut" class="chart chart-doughnut" chart-data="doughnutData" chart-labels="doughnutLabels"></canvas>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <br/>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="dashboard_graph">

                <div class="row x_title">
                    <div class="col-md-6">
                        <h3>Pile Drillings in minutes</h3>
                    </div>
                </div>
                <div class="clearfix"></div>

                <div class="col-md-9 col-sm-9 col-xs-12">
                    <nvd3 ng-if="drillingsByMachine.drillings.length" options="pdOptions" data="pdData" class="with-3d-shadow with-transitions"></nvd3>
                    <div class="col-md-8">
                        <select class="input-sm" ng-model="drillMachine" ng-options="m as m for m in machines" ng-change="getMachineForGraph()">
                            <option label="Select Drilling Machine.."></option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 bg-white">
                    <div class="x_title">
                        <h2>Meter per hour</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-6">
                        <nvd3 options="pieOptions" data="pieData"></nvd3>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <br/>

    <!--<div class="row">-->


        <!--&lt;!&ndash; Start to do list &ndash;&gt;-->
        <!--<div class="col-md-6 col-sm-6 col-xs-12">-->
            <!--<div class="x_panel">-->
                <!--<div class="x_title">-->
                    <!--<h2>To Do List-->
                        <!--<small>Sample tasks</small>-->
                    <!--</h2>-->
                    <!--<ul class="nav navbar-right panel_toolbox">-->
                        <!--<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>-->
                        <!--</li>-->
                        <!--<li class="dropdown">-->
                            <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>-->
                            <!--<ul class="dropdown-menu" role="menu">-->
                                <!--<li><a href="#">Settings 1</a>-->
                                <!--</li>-->
                                <!--<li><a href="#">Settings 2</a>-->
                                <!--</li>-->
                            <!--</ul>-->
                        <!--</li>-->
                        <!--<li><a class="close-link"><i class="fa fa-close"></i></a>-->
                        <!--</li>-->
                    <!--</ul>-->
                    <!--<div class="clearfix"></div>-->
                <!--</div>-->
                <!--<div class="x_content">-->

                    <!--<div class="">-->
                        <!--<ul class="to_do">-->
                            <!--<li>-->
                                <!--<p>-->
                                    <!--<input type="checkbox" class="flat"> Schedule meeting with new client </p>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<p>-->
                                    <!--<input type="checkbox" class="flat"> Create email address for new intern</p>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<p>-->
                                    <!--<input type="checkbox" class="flat"> Have IT fix the network printer</p>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<p>-->
                                    <!--<input type="checkbox" class="flat"> Copy backups to offsite location</p>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<p>-->
                                    <!--<input type="checkbox" class="flat"> Food truck fixie locavors mcsweeney</p>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<p>-->
                                    <!--<input type="checkbox" class="flat"> Food truck fixie locavors mcsweeney</p>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<p>-->
                                    <!--<input type="checkbox" class="flat"> Create email address for new intern</p>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<p>-->
                                    <!--<input type="checkbox" class="flat"> Have IT fix the network printer</p>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<p>-->
                                    <!--<input type="checkbox" class="flat"> Copy backups to offsite location</p>-->
                            <!--</li>-->
                        <!--</ul>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</div>
