<div>
    <h2 translate="documentmanagementApp.concreting.home.title">Concretings</h2>
    <jh-alert></jh-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="concreting.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span 
class="hidden-xs"                        translate="documentmanagementApp.concreting.home.createLabel">Create new Concreting
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="{{ 'documentmanagementApp.concreting.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="search()">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="createdAt"><span translate="documentmanagementApp.concreting.createdAt">CreatedAt</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="lastUpdatedAt"><span translate="documentmanagementApp.concreting.lastUpdatedAt">LastUpdatedAt</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="lastUpdatedBy"><span translate="documentmanagementApp.concreting.lastUpdatedBy">LastUpdatedBy</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="mixDesign"><span translate="documentmanagementApp.concreting.mixDesign">MixDesign</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="slumpFlowTest"><span translate="documentmanagementApp.concreting.slumpFlowTest">SlumpFlowTest</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="pouringRate"><span translate="documentmanagementApp.concreting.pouringRate">PouringRate</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="totalCastedVolume"><span translate="documentmanagementApp.concreting.totalCastedVolume">TotalCastedVolume</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="overConsumption"><span translate="documentmanagementApp.concreting.overConsumption">OverConsumption</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="comment"><span translate="documentmanagementApp.concreting.comment">Comment</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="startDate"><span translate="documentmanagementApp.concreting.startDate">StartDate</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="endDate"><span translate="documentmanagementApp.concreting.endDate">EndDate</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="startTime"><span translate="documentmanagementApp.concreting.startTime">StartTime</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="endTime"><span translate="documentmanagementApp.concreting.endTime">EndTime</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="calculatedCumulativeCls"><span translate="documentmanagementApp.concreting.calculatedCumulativeCls">CalculatedCumulativeCls</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="calculatedTheoreticCls"><span translate="documentmanagementApp.concreting.calculatedTheoreticCls">CalculatedTheoreticCls</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="calculatedDifference"><span translate="documentmanagementApp.concreting.calculatedDifference">CalculatedDifference</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="calculatedPercent"><span translate="documentmanagementApp.concreting.calculatedPercent">CalculatedPercent</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="sentBack"><span translate="documentmanagementApp.concreting.sentBack">SentBack</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="user.login"><span translate="documentmanagementApp.concreting.user">user</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="concreting in concretings track by concreting.id">
                    <td><a ui-sref="concreting.detail({id:concreting.id})">{{concreting.id}}</a></td>
                        <td>{{concreting.createdAt | date:'mediumDate'}}</td>
                        <td>{{concreting.lastUpdatedAt | date:'mediumDate'}}</td>
                    <td>{{concreting.lastUpdatedBy}}</td>
                    <td>{{concreting.mixDesign}}</td>
                    <td>{{concreting.slumpFlowTest}}</td>
                    <td>{{concreting.pouringRate}}</td>
                    <td>{{concreting.totalCastedVolume}}</td>
                    <td>{{concreting.overConsumption}}</td>
                    <td>{{concreting.comment}}</td>
                        <td>{{concreting.startDate | date:'mediumDate'}}</td>
                        <td>{{concreting.endDate | date:'mediumDate'}}</td>
                    <td>{{concreting.startTime | date:'medium'}}</td>
                        <td>{{concreting.endTime | date:'mediumDate'}}</td>
                    <td>{{concreting.calculatedCumulativeCls}}</td>
                    <td>{{concreting.calculatedTheoreticCls}}</td>
                    <td>{{concreting.calculatedDifference}}</td>
                    <td>{{concreting.calculatedPercent}}</td>
                    <td>{{concreting.sentBack}}</td>
                    <td>
                        {{concreting.user.login}}
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="concreting.detail({id:concreting.id})"
                                    class="btn btn-info btn-sm"> 
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="concreting.edit({id:concreting.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="concreting.delete({id:concreting.id})"
                                    class="btn btn-danger btn-sm">                                    
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <uib-pager total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pager>
</div>
