
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myPileLabel" translate="documentmanagementApp.pile.home.createOrEditLabel">Create or edit a Pile</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="pile.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="documentmanagementApp.pile.createdAt" for="field_createdAt">CreatedAt</label>
            <input id="field_createdAt" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="pile.createdAt" is-open="datePickerForCreatedAt.status.opened"
            />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="datePickerForCreatedAtOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </div>
        <div class="form-group">
            <label class="control-label" translate="documentmanagementApp.pile.lastUpdatedAt" for="field_lastUpdatedAt">LastUpdatedAt</label>
            <input id="field_lastUpdatedAt" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="pile.lastUpdatedAt" is-open="datePickerForLastUpdatedAt.status.opened"
            />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="datePickerForLastUpdatedAtOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </div>
        <div class="form-group">
            <label class="control-label" translate="documentmanagementApp.pile.lastUpdatedBy" for="field_lastUpdatedBy">LastUpdatedBy</label>
            <input type="text" class="form-control" name="lastUpdatedBy" id="field_lastUpdatedBy"
                    ng-model="pile.lastUpdatedBy"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="documentmanagementApp.pile.nextPile" for="field_nextPile">NextPile</label>
            <input type="number" class="form-control" name="nextPile" id="field_nextPile"
                    ng-model="pile.nextPile"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="documentmanagementApp.pile.prevPile" for="field_prevPile">PrevPile</label>
            <input type="number" class="form-control" name="prevPile" id="field_prevPile"
                    ng-model="pile.prevPile"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="documentmanagementApp.pile.number" for="field_number">Number</label>
            <input type="number" class="form-control" name="number" id="field_number"
                    ng-model="pile.number"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="documentmanagementApp.pile.comment" for="field_comment">Comment</label>
            <input type="text" class="form-control" name="comment" id="field_comment"
                    ng-model="pile.comment"
                     />
        </div>

        <div class="form-group">
            <label translate="documentmanagementApp.pile.user" for="field_user">user</label>
            <select class="form-control" id="field_user" name="user" ng-model="pile.user" ng-options="user as user.login for user in users track by user.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="documentmanagementApp.pile.concreting" for="field_concreting">concreting</label>
            <select class="form-control" id="field_concreting" name="concreting" ng-model="pile.concreting" ng-options="concreting as concreting.id for concreting in concretings | orderBy:'id' track by concreting.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="documentmanagementApp.pile.drilling" for="field_drilling">drilling</label>
            <select class="form-control" id="field_drilling" name="drilling" ng-model="pile.drilling" ng-options="drilling as drilling.id for drilling in drillings | orderBy:'id' track by drilling.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="documentmanagementApp.pile.steelCage" for="field_steelCage">steelCage</label>
            <select class="form-control" id="field_steelCage" name="steelCage" ng-model="pile.steelCage" ng-options="steelCage as steelCage.id for steelCage in steelcages | orderBy:'id' track by steelCage.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="documentmanagementApp.pile.projectInfo" for="field_projectInfo">projectInfo</label>
            <select class="form-control" id="field_projectInfo" name="projectInfo" ng-model="pile.projectInfo" ng-options="projectInfo as projectInfo.id for projectInfo in projectinfos track by projectInfo.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
