<div>
    <h2 translate="documentmanagementApp.item.home.title">Items</h2>
    <jh-alert></jh-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="item.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span 
class="hidden-xs"                        translate="documentmanagementApp.item.home.createLabel">Create new Item
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="{{ 'documentmanagementApp.item.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="search()">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="orderTime"><span translate="documentmanagementApp.item.orderTime">OrderTime</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="arrivalTime"><span translate="documentmanagementApp.item.arrivalTime">ArrivalTime</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="truck"><span translate="documentmanagementApp.item.truck">Truck</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="casted"><span translate="documentmanagementApp.item.casted">Casted</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="slump"><span translate="documentmanagementApp.item.slump">Slump</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="theoreticalConcreteVolume"><span translate="documentmanagementApp.item.theoreticalConcreteVolume">TheoreticalConcreteVolume</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="concreting.id"><span translate="documentmanagementApp.item.concreting">concreting</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in items track by item.id">
                    <td><a ui-sref="item.detail({id:item.id})">{{item.id}}</a></td>
                        <td>{{item.orderTime | date:'mediumDate'}}</td>
                        <td>{{item.arrivalTime | date:'mediumDate'}}</td>
                    <td>{{item.truck}}</td>
                    <td>{{item.casted}}</td>
                    <td>{{item.slump}}</td>
                    <td>{{item.theoreticalConcreteVolume}}</td>
                    <td>
                        <a ui-sref="concreting.detail({id:item.concreting.id})">{{item.concreting.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="item.detail({id:item.id})"
                                    class="btn btn-info btn-sm"> 
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="item.edit({id:item.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="item.delete({id:item.id})"
                                    class="btn btn-danger btn-sm">                                    
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
