<div>
    <h2 translate="documentmanagementApp.generalInfo.home.title">GeneralInfos</h2>
    <jh-alert></jh-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="generalInfo.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span 
class="hidden-xs"                        translate="documentmanagementApp.generalInfo.home.createLabel">Create new GeneralInfo
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="{{ 'documentmanagementApp.generalInfo.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="search()">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="treviRefNr"><span translate="documentmanagementApp.generalInfo.treviRefNr">TreviRefNr</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="pilingRigType"><span translate="documentmanagementApp.generalInfo.pilingRigType">PilingRigType</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="machineSerialNr"><span translate="documentmanagementApp.generalInfo.machineSerialNr">MachineSerialNr</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="date"><span translate="documentmanagementApp.generalInfo.date">Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="generalInfo in generalInfos track by generalInfo.id">
                    <td><a ui-sref="generalInfo.detail({id:generalInfo.id})">{{generalInfo.id}}</a></td>
                    <td>{{generalInfo.treviRefNr}}</td>
                    <td>{{generalInfo.pilingRigType}}</td>
                    <td>{{generalInfo.machineSerialNr}}</td>
                        <td>{{generalInfo.date | date:'mediumDate'}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="generalInfo.detail({id:generalInfo.id})"
                                    class="btn btn-info btn-sm"> 
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="generalInfo.edit({id:generalInfo.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="generalInfo.delete({id:generalInfo.id})"
                                    class="btn btn-danger btn-sm">                                    
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <uib-pager total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pager>
</div>
