<div>
    <h2 translate="documentmanagementApp.projectInfo.home.title">ProjectInfos</h2>
    <jh-alert></jh-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="projectInfo.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span 
class="hidden-xs"                        translate="documentmanagementApp.projectInfo.home.createLabel">Create new ProjectInfo
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="{{ 'documentmanagementApp.projectInfo.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="search()">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span translate="documentmanagementApp.projectInfo.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="wirCode"><span translate="documentmanagementApp.projectInfo.wirCode">WirCode</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="phase"><span translate="documentmanagementApp.projectInfo.phase">Phase</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="site"><span translate="documentmanagementApp.projectInfo.site">Site</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="subContractor"><span translate="documentmanagementApp.projectInfo.subContractor">SubContractor</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="recordSN"><span translate="documentmanagementApp.projectInfo.recordSN">RecordSN</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="contractNr"><span translate="documentmanagementApp.projectInfo.contractNr">ContractNr</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="projectInfo in projectInfos track by projectInfo.id">
                    <td><a ui-sref="projectInfo.detail({id:projectInfo.id})">{{projectInfo.id}}</a></td>
                    <td>{{projectInfo.name}}</td>
                    <td>{{projectInfo.wirCode}}</td>
                    <td>{{projectInfo.phase}}</td>
                    <td>{{projectInfo.site}}</td>
                    <td>{{projectInfo.subContractor}}</td>
                    <td>{{projectInfo.recordSN}}</td>
                    <td>{{projectInfo.contractNr}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="projectInfo.detail({id:projectInfo.id})"
                                    class="btn btn-info btn-sm"> 
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="projectInfo.edit({id:projectInfo.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="projectInfo.delete({id:projectInfo.id})"
                                    class="btn btn-danger btn-sm">                                    
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <uib-pager total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pager>
</div>
