<div>
    <h2 class="center-header" translate="documentmanagementApp.pileDrilling.home.title">PileDrillings</h2>
    <jh-alert></jh-alert>
    <br/>
    <div class="container-fluid">
        <!--<div class="col-md-8">-->
            <!--<span ng-if="pileDrillingsByMachine.drillings.length">-->
              <!--<nvd3 options="pdOptions" data="pdData" class="with-3d-shadow with-transitions"></nvd3>-->
          <!--</span>-->
          <!--<span ng-if="!pileDrillingsByMachine.drillings.length">-->
              <!--<div class="alert" type="info">Choose a Drilling Machine from the dropdown.</div>-->
          <!--</span>-->

            <!--<div class="form-horizontal">-->
                <!--<div class="form-group">-->
                    <!--<select class="input-sm" ng-model="drillingMachine" ng-options="m as m for m in machines"-->
                            <!--ng-change="getMachineForGraph()">-->
                        <!--<option label="Select Drilling Machine.."></option>-->
                    <!--</select>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    </div>
    <br/>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <!--<button class="btn btn-primary" ng-click="machine()">MACHINE</button>-->
                <button class="btn btn-primary" ui-sref="pileDrilling.new">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs" translate="documentmanagementApp.pileDrilling.home.createLabel">Create new PileDrilling</span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery"
                               placeholder="{{ 'documentmanagementApp.pileDrilling.home.search' | translate }}">
                        <span class="input-group-btn width-min">
                            <button class="btn btn-info" ng-click="search()">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
            <!--<button ng-show="pileDrillingsForMachine" disabled class="btn btn-primary">{{pileDrillingsForMachine}}</button>-->
        </div>
    </div>
    <br/>

    <div class="table-responsive">
        <table ng-table="tableParams" show-filter="true" class="table ng-table-rowselected table-condensed table-striped">
            <tr ng-repeat="pileDrilling in data" ng-click="pileDrilling.$selected = !pileDrilling.$selected" ng-class="{'active': pileDrilling.$selected}">
                <td align="center" data-title="'DrillingID'" width="250" sortable="'drillingId'" filter="{ 'drillingId': 'text' }"><a ui-sref="pileDrilling.detail({id:pileDrilling.id})">{{pileDrilling.drillingId}}</a></td>
                <td align="center" data-title="'Machine'" sortable="'drillingMachine'" filter="{ 'drillingMachine': 'text' }">{{pileDrilling.drillingMachine}}</td>
                <td align="center" data-title="'Project Depth'" sortable="'projectDepth'">{{pileDrilling.projectDepth}} <span ng-if="pileDrilling.projectDepth">m</span></td>
                <td align="center" data-title="'Effective Depth'" sortable="'effectiveDepth'">{{pileDrilling.effectiveDepth}} <span ng-if="pileDrilling.effectiveDepth">m</span></td>
                <td align="center" data-title="'Start Date'" sortable="'startDate'">{{pileDrilling.startDate | date:'dd-MM-yyyy'}}</td>
                <td align="center" data-title="'End Date'" sortable="'endDate'">{{pileDrilling.endDate | date:'dd-MM-yyyy'}}</td>
                <td align="center" data-title="'Start Time'" sortable="'startTime'">{{pileDrilling.startTime | date:'HH:mm'}}</td>
                <td align="center" data-title="'End Time'" sortable="'endTime'">{{pileDrilling.endTime | date:'HH:mm'}}</td>
                <td class="text-right">
                    <div ng-show="pileDrilling.$selected">
                        <button type="submit"
                                ui-sref="pileDrilling.edit({id:pileDrilling.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>
                            <span class="hidden-xs hidden-sm"></span>
                        </button>
                        <button type="submit"
                                ui-sref="pileDrilling.delete({id:pileDrilling.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                            <span class="hidden-xs hidden-sm"></span>
                        </button>
                    </div>
                </td>
            </tr>
            <!--</tbody>-->
        </table>
    </div>
    <!--<br/>-->
    <!--<br/>-->
    <!--<div class="table-responsive">-->
    <!--<table class="jh-table table table-striped">-->
    <!--<thead>-->
    <!--<tr jh-sort="predicate" ascending="reverse" callback="loadAll()">-->
    <!--<th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>-->
    <!--<th jh-sort-by="drillingMachine"><span translate="documentmanagementApp.pileDrilling.drillingMachine">DrillingMachine</span> <span class="glyphicon glyphicon-sort"></span></th>-->
    <!--<th jh-sort-by="projectDepth"><span translate="documentmanagementApp.pileDrilling.projectDepth">ProjectDrillingDepth</span> <span class="glyphicon glyphicon-sort"></span></th>-->
    <!--<th jh-sort-by="drillingEffectiveDepth"><span translate="documentmanagementApp.pileDrilling.drillingEffectiveDepth">DrillingEffectiveDepth</span> <span class="glyphicon glyphicon-sort"></span></th>-->
    <!--<th jh-sort-by="drillingStartDate"><span translate="documentmanagementApp.pileDrilling.drillingStartDate">DrillingStartDate</span> <span class="glyphicon glyphicon-sort"></span></th>-->
    <!--<th jh-sort-by="drillingEndDate"><span translate="documentmanagementApp.pileDrilling.drillingEndDate">DrillingEndDate</span> <span class="glyphicon glyphicon-sort"></span></th>-->
    <!--<th jh-sort-by="drillingStartTime"><span translate="documentmanagementApp.pileDrilling.drillingStartTime">DrillingStartTime</span> <span class="glyphicon glyphicon-sort"></span></th>-->
    <!--<th jh-sort-by="drillingEndTime"><span translate="documentmanagementApp.pileDrilling.drillingEndTime">DrillingEndTime</span> <span class="glyphicon glyphicon-sort"></span></th>-->
    <!--<th></th>-->
    <!--</tr>-->
    <!--</thead>-->
    <!--<tbody>-->
    <!--<tr ng-repeat="pileDrilling in pileDrillings track by pileDrilling.id">-->
    <!--<td><a ui-sref="pileDrilling.detail({id:pileDrilling.id})">{{pileDrilling.id}}</a></td>-->
    <!--<td>{{pileDrilling.drillingMachine}}</td>-->
    <!--<td>{{pileDrilling.projectDepth}} <span ng-if="pileDrilling.projectDepth">mm</span></td>-->
    <!--<td>{{pileDrilling.drillingEffectiveDepth}}</td>-->
    <!--<td>{{pileDrilling.drillingStartDate | date:'mediumDate'}}</td>-->
    <!--<td>{{pileDrilling.drillingEndDate | date:'mediumDate'}}</td>-->
    <!--<td>{{pileDrilling.drillingStartTime}}</td>-->
    <!--<td>{{pileDrilling.drillingEndTime}}</td>-->
    <!--<td class="text-right">-->
    <!--<div class="btn-group">-->
    <!--<button type="submit"-->
    <!--ui-sref="pileDrilling.edit({id:pileDrilling.id})"-->
    <!--class="btn btn-primary btn-sm">-->
    <!--<span class="glyphicon glyphicon-pencil"></span>-->
    <!--<span class="hidden-xs hidden-sm"></span>-->
    <!--</button>-->
    <!--<button type="submit"-->
    <!--ui-sref="pileDrilling.delete({id:pileDrilling.id})"-->
    <!--class="btn btn-danger btn-sm">-->
    <!--<span class="glyphicon glyphicon-remove-circle"></span>-->
    <!--<span class="hidden-xs hidden-sm"></span>-->
    <!--</button>-->
    <!--</div>-->
    <!--</td>-->
    <!--</tr>-->
    <!--</tbody>-->
    <!--</table>-->
    <!--</div>-->
    <!--<uib-pager total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pager>-->
</div>
