<form name="editForm" class="form-horizontal" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myPileDrillingLabel" translate="documentmanagementApp.pileDrilling.home.createOrEditLabel">Create or edit a PileDrilling</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div ng-if="pileDrilling.id" class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="input-sm" id="id" name="id"
                   ng-model="pileDrilling.id" readonly/>
        </div>
        <div class="form-group">
            <div class="col-md-3"><label class="control-label" translate="documentmanagementApp.pileDrilling.drillingMachine" for="field_drillingMachine">DrillingMachine</label></div>
            <input type="text" class="input-sm" name="drillingMachine" id="field_drillingMachine"
                   ng-model="pileDrilling.drillingMachine"/>
        </div>
        <div class="form-group">
            <div class="col-md-3"><label class="control-label" translate="documentmanagementApp.pileDrilling.projectDrillingDepth" for="field_projectDrillingDepth">ProjectDrillingDepth</label></div>
            <input type="number" class="input-sm" name="projectDrillingDepth" id="field_projectDrillingDepth"
                   ng-model="pileDrilling.projectDrillingDepth"/>
        </div>
        <div class="form-group">
            <div class="col-md-3"><label class="control-label" translate="documentmanagementApp.pileDrilling.drillingEffectiveDepth" for="field_drillingEffectiveDepth">DrillingEffectiveDepth</label>
            </div>
            <input type="number" class="input-sm" name="drillingEffectiveDepth" id="field_drillingEffectiveDepth"
                   ng-model="pileDrilling.drillingEffectiveDepth"/>
        </div>
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-md-3"><label class="control-label" translate="documentmanagementApp.pileDrilling.drillingStartDate" for="field_drillingStartDate">DrillingStartDate</label></div>
                <input id="field_drillingStartDate" type="text" class="input-sm" uib-datepicker-popup="{{dateformat}}" ng-model="pileDrilling.drillingStartDate"
                       is-open="datePickerForDrillingStartDate.status.opened"/>
                <button type="button" class="btn btn-default btn-cal" ng-click="datePickerForDrillingStartDateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3"><label class="control-label" translate="documentmanagementApp.pileDrilling.drillingEndDate" for="field_drillingEndDate">DrillingEndDate</label></div>
            <input id="field_drillingEndDate" type="text" class="input-sm" uib-datepicker-popup="{{dateformat}}" ng-model="pileDrilling.drillingEndDate"
                   is-open="datePickerForDrillingEndDate.status.opened"/>
            <button type="button" class="btn btn-default btn-cal" ng-click="datePickerForDrillingEndDateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
        </div>
        <div class="form-group">
            <div class="col-md-3"><label class="control-label" translate="documentmanagementApp.pileDrilling.drillingStartTime" for="field_drillingStartTime">DrillingStartTime</label></div>
            <input type="text" class="input-sm" name="drillingStartTime" id="field_drillingStartTime"
                   ng-model="pileDrilling.drillingStartTime"/>
        </div>
        <div class="form-group">
            <div class="col-md-3"><label class="control-label" translate="documentmanagementApp.pileDrilling.drillingEndTime" for="field_drillingEndTime">DrillingEndTime</label></div>
            <input type="text" class="input-sm" name="drillingEndTime" id="field_drillingEndTime"
                   ng-model="pileDrilling.drillingEndTime"/>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
