<form name="editForm" class="form-horizontal" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myPileDrillingLabel" translate="documentmanagementApp.pileDrilling.home.createOrEditLabel">Create or edit a PileDrilling</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <div class="col-md-3"><label class="control-label" for="field_drillingId" translate="documentmanagementApp.pileDrilling.drillingId">Drilling ID</label></div>
            <input type="text" class="input-sm" id="field_drillingId" name="drillingId" ng-model="pileDrilling.drillingId"/>
        </div>
        <div class="form-group">
            <div class="col-md-3"><label class="control-label" translate="documentmanagementApp.pileDrilling.drillingMachine" for="field_drillingMachine">Drilling Machine</label></div>
            <input type="text" class="input-sm" name="drillingMachine" id="field_drillingMachine" ng-model="pileDrilling.drillingMachine"/>
        </div>
        <div class="form-group">
            <div class="col-md-3"><label class="control-label" translate="documentmanagementApp.pileDrilling.projectDepth" for="field_projectDepth">Project Depth</label></div>
            <input type="number" class="input-sm" name="projectDepth" id="field_projectDepth"
                   ng-model="pileDrilling.projectDepth"/>
        </div>
        <div class="form-group">
            <div class="col-md-3"><label class="control-label" translate="documentmanagementApp.pileDrilling.effectiveDepth" for="field_effectiveDepth">Effective Depth</label></div>
            <input type="number" class="input-sm" name="effectiveDepth" id="field_effectiveDepth" ng-model="pileDrilling.effectiveDepth"/>
        </div>
            <div class="form-group">
                <div class="col-md-3"><label class="control-label" translate="documentmanagementApp.pileDrilling.startDate" for="field_startDate">Start Date</label></div>
                <input id="field_startDate" type="text" class="input-sm" uib-datepicker-popup="{{dateformat}}" ng-model="pileDrilling.startDate"
                       is-open="datePickerForStartDate.status.opened"/>
                <button type="button" class="btn btn-default btn-cal" ng-click="datePickerForStartDateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </div>
        <div class="form-group">
            <div class="col-md-3"><label class="control-label" translate="documentmanagementApp.pileDrilling.endDate" for="field_endDate">End Date</label></div>
            <input id="field_endDate" type="text" class="input-sm" uib-datepicker-popup="{{dateformat}}" ng-model="pileDrilling.endDate"
                   is-open="datePickerForEndDate.status.opened"/>
            <button type="button" class="btn btn-default btn-cal" ng-click="datePickerForEndDateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
        </div>
        <div class="form-group">
            <div class="col-md-3"><label class="control-label" translate="documentmanagementApp.pileDrilling.startTime" for="field_startTime">Start Time</label></div>
            <input type="text" class="input-sm" name="startTime" id="field_startTime" ng-model="pileDrilling.startTime"/>
        </div>
        <div class="form-group">
            <div class="col-md-3"><label class="control-label" translate="documentmanagementApp.pileDrilling.endTime" for="field_endTime">End Time</label></div>
            <input type="text" class="input-sm" name="endTime" id="field_endTime" ng-model="pileDrilling.endTime"/>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <!--<button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">-->
        <button type="submit" ng-disabled="isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
