$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// bower:scss
@import "bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    font-size: 12px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.development {
    position: absolute;
    width: 149px;
    height: 149px;
    top: 0;
    left: 0;
    border: 0;
    z-index: 1000;
    background-image: url("../images/trevi-logo.gif");
    background-position: center center;
    background-repeat: no-repeat;
}

.center-header {
    margin-top    : 0;
    text-align    : center;
    color         : #002258;
    font-size     : 36px;
    font-weight   : bold;
}

.ng-table th.sortable.sort-desc, .ng-table th.sortable.sort-asc {
    background-color: #DDD;
}

.table > thead > tr > th {
    vertical-align: bottom;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.active {
    border: 0 solid #dadada !important;
}

.btn-sm {
    padding: 0 1px;
}

.navbar-version {
    font-size: 10px;
    color: #ccc
}

.navbar-default {
    background-color: #F5F5F5;
}

.navbar-fixed-side-left {
    left: 0;
}
.navbar-fixed-side-right {
    right: 0;
}
.navbar-fixed-side {
    position: fixed;
    z-index: 1030;
    min-height: 5px;
    //min-width: 5px;
    width: 10%;
    margin-bottom: 0;
    border: 0 solid transparent;
}
.navbar-fixed-side .navbar-toggle {
    float: none;
    margin: 0;
}
.navbar-fixed-side .nav > li > a {
    width: 100%;
    padding: 5px;
}
.navbar-fixed-side .dropdown-menu > li > a {
    padding: 5px;
}
.navbar-fixed-side .dropdown-header {
    padding: 5px;
}
.navbar-fixed-side .navbar-nav {
    margin: 0;
}
.navbar-fixed-side .navbar-nav > li {
    float: none;
}
.navbar-fixed-side .navbar-nav > li > a {
    padding: 5px;
    line-height: 20px;
}
.navbar-fixed-side .navbar-nav .open .dropdown-menu > li > a,
.navbar-fixed-side .navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 3px 5px 3px 15px;
}
.navbar-fixed-side .container {
    width: 100%;
    padding: 0;
}
.navbar-fixed-side .navbar-header {
    float: none;
    margin: 0;
}
.navbar-fixed-side .navbar-collapse {
    padding: 0 2px;
}
.navbar-fixed-side .container .navbar-collapse {
    margin: 0;
}
.navbar-fixed-side .container .navbar-brand {
    margin: 0;
}
.navbar-fixed-side .navbar-brand {
    float: none;
    height: 100%;
    padding: 5px 3px;
    font-size: 18px;
    line-height: 20px;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.error {
    color: white;
    background-color: red;
}

.hipster {
    display: inline-block;
    width: 347px;
    height: 497px;
    background: url("../images/hipster.png") no-repeat center top;
    background-size: contain;
}

.pad {
    padding: 10px;
}

.btn-cal {
    padding: 4px 7px;
    margin-bottom: 2px;
}

.modal-body {
    position: relative;
    padding: 25px;
    width: auto;
}

.input-sm {
    width: 400px;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .hipster {
        background: url("../images/hipster2x.png") no-repeat center top;
        background-size: contain;
    }
}

/* make sure browsers use the pointer cursor for anchors, even with no href */
a:hover {
  cursor: pointer;
}

.hand {
    cursor: pointer;
}

#threadDump .popover, #healthCheck .popover {
    top: inherit;
    display: block;
    font-size: 10px;
    max-width: 1024px;
}

#healthCheck .popover {
    margin-left: -50px;
}

.health-details {
    min-width: 400px;
}

.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }

/* start Password strength bar style */
ul#strength {
    display:inline;
    list-style:none;
    margin:0;
    margin-left:15px;
    padding:0;
    vertical-align:2px;
}

.point:last {
    margin:0 !important;
}
.point {
    background:#DDD;
    border-radius:2px;
    display:inline-block;
    height:5px;
    margin-right:1px;
    width:20px;
}
/* end Password strength bar style */
/* Custom alerts for notification */

.alerts .alert{
    text-overflow: ellipsis;
}
.alert pre{
    background: none;
    border: none;
    font: inherit;
    color: inherit;
    padding: 0;
    margin: 0;
}

.alert .popover pre {
    font-size: 10px;
}

.alerts .toast {
    position: fixed;
    width: 100%;
}

.alerts .toast.left {
    left: 5px;
}

.alerts .toast.right {
    right: 5px;
}

.alerts .toast.top {
    top: 55px;
}

.alerts .toast.bottom {
    bottom: 55px;
}

@media screen and (min-width: 480px) {
    .alerts .toast {
        width: 50%;
    }
}

/* end of Custom alerts for notification */

/* entity tables helpers */

/* Remove Bootstrap padding from the element
   http://stackoverflow.com/questions/19562903/remove-padding-from-columns-in-bootstrap-3 */
@mixin no-padding($side) {
    @if $side == 'all' {
        .no-padding {
            padding: 0 !important;
        }
    } @else {
        .no-padding-#{$side} {
            padding-#{$side}: 0 !important;
        }
    }
}
@include no-padding("left");
@include no-padding("right");
@include no-padding("top");
@include no-padding("bottom");
@include no-padding("all");

/* bootstrap 3 input-group 100% width
   http://stackoverflow.com/questions/23436430/bootstrap-3-input-group-100-width */
.width-min { width: 1% !important; }

/* Makes toolbar not wrap on smaller screens
   http://www.sketchingwithcss.com/samplechapter/cheatsheet.html#right */
.flex-btn-group-container {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-justify-content: flex-end;
   justify-content: flex-end;
}

/* Align text in td verifically (top aligned by Bootstrap) */
.jh-table > tbody > tr > td {
    vertical-align: middle;
}
/* end of entity tables helpers */

/* jhipster-needle-scss-add-main JHipster will add new css style */
