
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="mySteelCageLabel" translate="documentmanagementApp.steelCage.home.createOrEditLabel">Create or edit a SteelCage</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="steelCage.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="documentmanagementApp.steelCage.createdAt" for="field_createdAt">CreatedAt</label>
            <input id="field_createdAt" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="steelCage.createdAt" is-open="datePickerForCreatedAt.status.opened"
            />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="datePickerForCreatedAtOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </div>
        <div class="form-group">
            <label class="control-label" translate="documentmanagementApp.steelCage.idCage" for="field_idCage">IdCage</label>
            <input type="text" class="form-control" name="idCage" id="field_idCage"
                    ng-model="steelCage.idCage"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="documentmanagementApp.steelCage.sonicPipesCompliance" for="field_sonicPipesCompliance">SonicPipesCompliance</label>
            <input type="checkbox" class="form-control" name="sonicPipesCompliance" id="field_sonicPipesCompliance"
                    ng-model="steelCage.sonicPipesCompliance"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="documentmanagementApp.steelCage.waterAndCappingSonicPipeFilling" for="field_waterAndCappingSonicPipeFilling">WaterAndCappingSonicPipeFilling</label>
            <input type="checkbox" class="form-control" name="waterAndCappingSonicPipeFilling" id="field_waterAndCappingSonicPipeFilling"
                    ng-model="steelCage.waterAndCappingSonicPipeFilling"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="documentmanagementApp.steelCage.overlappingCompliance" for="field_overlappingCompliance">OverlappingCompliance</label>
            <input type="checkbox" class="form-control" name="overlappingCompliance" id="field_overlappingCompliance"
                    ng-model="steelCage.overlappingCompliance"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="documentmanagementApp.steelCage.spacerPositionCompliance" for="field_spacerPositionCompliance">SpacerPositionCompliance</label>
            <input type="checkbox" class="form-control" name="spacerPositionCompliance" id="field_spacerPositionCompliance"
                    ng-model="steelCage.spacerPositionCompliance"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="documentmanagementApp.steelCage.distanceBetweenCageTopAndGuideWallEdge" for="field_distanceBetweenCageTopAndGuideWallEdge">DistanceBetweenCageTopAndGuideWallEdge</label>
            <input type="checkbox" class="form-control" name="distanceBetweenCageTopAndGuideWallEdge" id="field_distanceBetweenCageTopAndGuideWallEdge"
                    ng-model="steelCage.distanceBetweenCageTopAndGuideWallEdge"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="documentmanagementApp.steelCage.verticalityCompliance" for="field_verticalityCompliance">VerticalityCompliance</label>
            <input type="checkbox" class="form-control" name="verticalityCompliance" id="field_verticalityCompliance"
                    ng-model="steelCage.verticalityCompliance"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="documentmanagementApp.steelCage.lastUpdatedAt" for="field_lastUpdatedAt">LastUpdatedAt</label>
            <input id="field_lastUpdatedAt" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="steelCage.lastUpdatedAt" is-open="datePickerForLastUpdatedAt.status.opened"
            />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="datePickerForLastUpdatedAtOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </div>
        <div class="form-group">
            <label class="control-label" translate="documentmanagementApp.steelCage.lastUpdatedBy" for="field_lastUpdatedBy">LastUpdatedBy</label>
            <input type="text" class="form-control" name="lastUpdatedBy" id="field_lastUpdatedBy"
                    ng-model="steelCage.lastUpdatedBy"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="documentmanagementApp.steelCage.startTime" for="field_startTime">StartTime</label>
            <input id="field_startTime" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="steelCage.startTime" is-open="datePickerForStartTime.status.opened"
            />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="datePickerForStartTimeOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </div>
        <div class="form-group">
            <label class="control-label" translate="documentmanagementApp.steelCage.endTime" for="field_endTime">EndTime</label>
            <input id="field_endTime" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="steelCage.endTime" is-open="datePickerForEndTime.status.opened"
            />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="datePickerForEndTimeOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </div>
        <div class="form-group">
            <label class="control-label" translate="documentmanagementApp.steelCage.comment" for="field_comment">Comment</label>
            <input type="text" class="form-control" name="comment" id="field_comment"
                    ng-model="steelCage.comment"
                     />
        </div>

        <div class="form-group">
            <label translate="documentmanagementApp.steelCage.user" for="field_user">user</label>
            <select class="form-control" id="field_user" name="user" ng-model="steelCage.user" ng-options="user as user.login for user in users track by user.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
